* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  min-width: 320px;
  background-color: black;
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.header .header__title {
  margin: 0 auto;
  height: 80px;
  min-width: 50%;
  max-width: 700px;
  background: linear-gradient(to top, black 39px, #bdae82 39px, #bdae82 41px, black 39px);
  color: #bdae82;
  font-size: 40px;
  text-align: center;
}
.header .header__title h2 {
  display: inline;
  background-color: black;
  padding: 20px;
}

footer .footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 50px;
  font-size: 22px;
}
@media (max-width: 800px) {
  footer .footer__container {
    flex-direction: column;
    justify-content: center;
  }
}
footer .footer__container .footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer .footer__container .footer__info p {
  margin: 0 15px;
  transition: color 0.3s;
}
footer .footer__container .footer__info p:last-child:hover {
  cursor: pointer;
  color: #bdae82;
}
footer .footer__container .rss-logo a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}
footer .footer__container .rss-logo a:hover {
  color: #bdae82;
}

main .video-player {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid #bdae82;
  margin: 0 auto;
  overflow: hidden;
}
main .poster {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../assets/img/hannah-busing-6NUUZZ16hJk-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
main .video {
  z-index: 1;
}
main .play-button {
  position: absolute;
  align-self: center;
  width: 200px;
  height: 200px;
  background: url("../assets/svg/play-btn.svg");
  background-size: cover;
  z-index: 2;
  transition: filter 0.5s ease-in-out;
}
main .play-button:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
main .controllers {
  position: absolute;
  bottom: -30px;
  height: 30px;
  width: 100%;
  background-color: black;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  transition: bottom 0.3s;
}
main .controllers .play {
  width: 17px;
  height: 17px;
  background: url("../assets/svg/play.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 15px;
}
main .controllers .pause {
  background: url("../assets/svg/pause.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
main .controllers #timeline {
  width: 100%;
}
main .controllers #volume {
  background: #bdae82;
}
main .controllers .range {
  -webkit-appearance: none;
  background: #fff;
  height: 7px;
  border-radius: 5px;
}
main .controllers .range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #bdae82;
  box-shadow: 0 0 5px black;
  -webkit-appearance: none;
}
main .controllers .mute {
  width: 17px;
  height: 17px;
  background: url("../assets/svg/volume.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 15px;
}
main .controllers .unmute {
  background: url("../assets/svg/mute.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.video-player:hover .controllers {
  bottom: 0;
}

/*# sourceMappingURL=style.css.map */
